{% extends 'mymedcity/patient_base.html'%} {% block content %}

<div class="flex justify-center">
  <form method="POST" action = "{% url 'mymedcity:book_appoinment' %}">
    {% csrf_token %}
    <div
      class="grid grid-rows-3 grid-flow-col gap-4 mt-12 drop-shadow-xl shadow-2xl"
    >
      <div class="mt-10 p-1">
        <h6 class="font-bold text-gray-500">First Name</h6>
        {{form.first_name}}
      </div>

      <div class="mt-10 p-1">
        <h6 class="font-bold text-gray-500">Last Name</h6>
        {{form.last_name}}
      </div>

      <div class="mt-10 p-1">
        <h6 class="font-bold text-gray-500">Email</h6>
        {{form.email}}
      </div>

      <div class="mt-10 p-1">
        <h6 class="font-bold text-gray-500">Phone Number</h6>
        {{form.phone_number}}
      </div>

      <div class="mt-10 p-1">
        <h6 class="font-bold text-gray-500">Date</h6>
        {{form.date}}
      </div>

      <div class="mt-10 p-1">
        <h6 class="font-bold text-gray-500">Time</h6>
        {{form.time}}
      </div>

      <div class="mt-10 p-1">
        <h6 class="font-bold text-gray-500">Department</h6>
        {{form.department}}
      </div>
    </div>

    <div
      class="flex justify-center px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mt-10 cursor-pointer"
    >
      <input type="submit" name="Book Appoinment" value="Book Appoinment" />
    </div>
  </form>
</div>

{%endblock%}
