{% extends 'mymedcity/base.html'%} {% block content %}

<!-- Navbar-->
<nav class="relative container mb-auto pb-12">
  <!--Flex container -->
  <div
    class="h-16 fixed right-0 left-0 top-0 flex items-center justify-between border-b-4 border bg-gray-100"
  >
    <!--Logo -->
    <div class="p-2 flex ">
      <img
        class="rounded-full"
        src="/static/logomedcity.png"
        alt="medcitylogo"
      />
    </div>

    <div class="hidden md:flex space-x-6 pl-80 mr-4">
      <a class="hover:text-green-200" href="#">Features</a>
      <a class="hover:text-green-200" href="#">Careers</a>
      <a class="hover:text-green-200" href="#">community</a>
      <a class="hover:text-green-200" href="#">Pricing</a>
      <a class="hover:text-green-200" href="{% url 'mymedcity:aboutus' %}"
        >About Us</a
      >
      <a
        href="{% url 'users:admin_login' %}"
        class="md:block p-3 px-6 pt-2 text-white bg-blue-500 rounded-full baseline hover:bg-blue-900"
        >Admin_Login</a
      >
      <a
        href="{% url 'users:staff_login' %}"
        class="md:block p-3 px-6 pt-2 text-white bg-blue-500 rounded-full baseline hover:bg-blue-900"
        >Staff's_Login</a
      >
    </div>
  </div>
</nav>
<section
  id="static1"
  class="bg-local h-80 contrast-50"
  style="background-image: url(/static/forPmsBg.jpg)"
>
  <div
    class="container flex justify-center flex-col-reverse md:flex-row item-center px-6 mx-auto mt-10 space-y-0 md:space-y-0"
  >
    <div class="flex flex-col justify-center mb-32 space-y-12">
      <h1 class="flex justify-center font-bold text-4xl mt-8">
        MEDCITY CLINIC MANAGEMENT
      </h1>
      <div class="flex items-center justify-between text-center space-x-8">
        <div class="flex flex-col justify-center">
          <h4 class="font-bold text-2xl -mt-8">
            The most powerful software for doctors to manage all aspects of
            their clinic
          </h4>
        </div>
      </div>

      <div class="flex space-x-6 justify-center">
        <a
          href="{% url 'users:create_account_page' %}"
          class="md:block p-3 px-6 pt-2 text-white bg-blue-500 rounded-full baseline hover:bg-blue-900"
          >SIGNUP</a
        >
        <a
          href="{% url 'users:login_page' %}"
          class="md:block p-3 px-6 pt-2 text-white bg-blue-500 rounded-full baseline hover:bg-blue-900"
          >LOGIN</a
        >
      </div>
    </div>
  </div>
</section>
<!-- page section-->
<section id="page" class="bg-gray-100">
  <!-- flex container -->
  <div
    class="container flex flex-col-reverse md:flex-row item-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 border-b-8 border-black"
  >
    <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
      <h1
        class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left"
      >
        A great way to seamlessly manage all aspects of your clinic.
      </h1>
      <p class="max-w-sm text-center text-gray-500">
        HEALTHCARE PROFESSIONALS RECOMMEND MEDCITY GLOBALLY
      </p>
    </div>
    <div class="md:w-1/2">
      <img class="rounded-full" src="/static/intro.png" alt="" />
    </div>
  </div>
</section>
<section id="image">
  <div class="flex justify-center">
    <img class="rounded-full" src="/static/intro1.png" alt="" />
  </div>
</section>
<section id="features" class="bg-gray-100">
  <h6 class="flex justify-center font-bold text-2xl">
    Top Reasons To Choose MEDCITY For Your Clinic
  </h6>
  <div class="grid grid-rows-3 grid-flow-col gap-4 p-6 pl-16">
    <div class="">
      <h5 class="font-bold md:text-left">Improved Patient Care</h5>
      <p class="max-w-sm text-left">
        Software provides tools to help you concentrate more on what's more
        important ie patient care.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Go Paperless</h5>
      <p class="max-w-sm text-left">
        Save paper , save money. Welcome to new age of paperless practice.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Industry Leading Security</h5>
      <p class="max-w-sm text-left">
        Security is central to whatever we do and we are very highly committed
        to ensure your data is safe and highly secure.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Reduce No Shows</h5>
      <p class="max-w-sm text-left">
        Appointment reminders ensures that your patients never miss scheduled
        appointments.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">
        Cloud Based - Automatic Software Update
      </h5>
      <p class="max-w-sm text-left">
        Given medcity is a cloud based software, you get automatic software
        updates for free.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Compliant Data Center</h5>
      <p class="max-w-sm text-left">
        medcity software runs on data centers to provide extra security to your
        medical records.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Streamline Your Front Office</h5>
      <p class="max-w-sm text-left">
        medcity automates operational workflows of your clinic so that you can
        focus on patient care.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Delight Your Patients</h5>
      <p class="max-w-sm text-left">
        Your practice on the cloud leaves delightful experience of clinic visit
        which others clinic owners / software can only dream.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Multi Geopgraphy Backup</h5>
      <p class="max-w-sm text-left">
        We ensure that adequate backups of your data are kept at multiple
        geopgraphical locations to ensure your health records stay safe incase
        of any natural disaster.
      </p>
    </div>
  </div>
</section>
<section id="image1">
  <div class="flex justify-center">
    <img class="rounded-full w-40" src="/static/medcity.jpg" alt="" />
  </div>
  <h6 class="flex justify-center font-bold text-4xl">
    A great way to seamlessly manage all aspects of your clinic.
  </h6>
</section>
<section id="features1" class="bg-gray-100 mt-8">
  <h6 class="flex justify-center font-bold text-2xl">
    How Healcon Practice Management Software Seamlessly Integrates All Clinic
    Workflows ?
  </h6>
  <div class="grid grid-rows-3 grid-flow-col gap-4 p-6 pl-16">
    <div class="">
      <h5 class="font-bold md:text-left">Appointment Scheduler</h5>
      <p class="max-w-sm text-left">
        Schedule appointments, reschedule, send patients reminders, track missed
        appointments and much more in one interface.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Electronic Medical Records</h5>
      <p class="max-w-sm text-left">
        Digitize electronic medical records of the patients and also manage
        interaction between clinic & patient at one central location like past
        appointments, treatments, bills, payments, prescriptions, medical
        documents, SMS/Email communication etc.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Medical Billing</h5>
      <p class="max-w-sm text-left">
        Add/View bills & receipts from central billing module.Tightly integrated
        with treatments & appointments for seamless experience.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Advanced Calendar</h5>
      <p class="max-w-sm text-left">
        Advanced appointment calendar also provides a very useful feature of
        tracking missed/checkedin/upcoming appointments in realtime.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Treatment Plan & Scheduling</h5>
      <p class="max-w-sm text-left">
        Add/Update medical history and all vital health stats of patient with
        single click. Create, Schedule & Track compleltion of treatments
        centrally.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Clinic Staff Management</h5>
      <p class="max-w-sm text-left">
        You can add/invite doctors, clinic admins, visiting doctors,
        receptionist, front desk etc centrally from this module and also control
        access level of all staff members centrally .
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Automated Patient Reminder</h5>
      <p class="max-w-sm text-left">
        Appointment reminders ensures that your patients never miss scheduled
        appointments.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">ePrescription</h5>
      <p class="max-w-sm text-left">
        At Medcity Labs we know doctors are short of time while attending their
        patients and hence we created a simple e-Prescription module in Medcity
        clinic management software to help doctors write digital prescrpition
        fast.
      </p>
    </div>
    <div class="">
      <h5 class="font-bold md:text-left">Financial Reporting & Analytics</h5>
      <p class="max-w-sm text-left">
        Powerful analytics to help you analyze and improve your clinic
        performance. Financial reporting helps keeps earnings,expenses & profits
        and check.
      </p>
    </div>
  </div>
</section>
<section
  id="static"
  class="bg-local h-60"
  style="background-image: url(/static/bg1.jpg)"
>
  <div
    class="container flex justify-center flex-col-reverse md:flex-row item-center px-6 mx-auto mt-10 space-y-0 md:space-y-0"
  >
    <div class="flex flex-col mb-32 space-y-12">
      <h1 class="flex justify-center font-bold text-2xl text-white mt-8">
        HEALTHCARE PROFESSIONALS RECOMMEND MEDCITY GLOBALLY
      </h1>
      <div class="flex items-center justify-between text-center space-x-8">
        <div class="flex flex-col">
          <h4 class="text-white font-bold text-4xl">10,000</h4>
          <p class="text-white font-bold text-2xl">Doctors</p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-white font-bold text-4xl">6,000</h4>
          <p class="text-white font-bold text-2xl">Clinics</p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-white font-bold text-4xl">10</h4>
          <p class="text-white font-bold text-2xl">Countries</p>
        </div>
        <div class="flex flex-col">
          <h4 class="text-white font-bold text-4xl">150</h4>
          <p class="text-white font-bold text-2xl">Specialities</p>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
