{% extends 'mymedcity/admin_base.html'%} {% block content %}
<section><div class="ml-60 mr-8 mt-4 ">
  <div
        class="pl-2 rounded dark:bg-gray-800 flex items-center justify-between text-white"
      >
      Home / Doctors
  </div>
</section>
<section class="grid grid-rows-2 grid-flow-col gap-2 ml-60 mt-4 mr-8">

  {%for p in doc%}
  <div class="inline-block p-11 mb-2 shadow-lg border-2 border-gray-800 rounded-lg ">
    <div class="flex justify-center">
      <img
        class=" rounded-full  "
        src="/static/doctoravathar.jpg"
        alt="medcitylogo"
      />
    </div>
    <div>
          <h5 class="flex justify-center pl-3 text-gray-900 text-xl font-medium mb-2">
            {{p.get_name}}
          </h5>
        </div>
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <div class=" p-2">
        
        <div>
          <p class="pl-3 text-gray-700 text-base mb-4">
            Phone Number : {{p.phone_number}}
          </p>
        </div>
        <div>
          <p class="pl-3 text-gray-700 text-base mb-4">
            Specialization : {{p.specialization}}
          </p>
        </div>
        <div>
          <p class="pl-3 text-gray-700 text-base mb-4">
            Medical Degree : {{p.medical_degrees}}
          </p>
        </div>
        <div>
          <p class="pl-3 text-gray-700 text-base mb-4">
            Department : {{p.department}}
          </p>
        </div>
    
        <div class="  p-2">
            <a
              href="#"
              class="inline-block ml-14 px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            >
              Consult
            </a>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</section>
{%endblock%}
